@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron"  style="background-color: transparent">
    <h1>MUNDO  NOVO</h1>
    <p class="lead">Sistema de controle de biblioteca.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
       @* <h2>Getting started</h2>*@
        <p>
            Facilidade para cadastros e busca de livros.
        </p>
       
    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>*@
        <p>  <img src="~/Imagens/librob.png"  width="300" height="330"/> </p>
       
    </div>
    <div class="col-md-4">
       @* <h2>Web Hosting</h2> *@
        <p> Para solicitar empréstimos de livro. </p>
       
    </div>
</div>